<div class="pergunta">
    <p>{{ pergunta.pergunta }}</p>
    <ul>
        <li *ngFor="let opcao of pergunta.opcoes" (click)="selecionarResposta(opcao)" class="p-2 m-1">
            <div [class.opcao-selecionada]="opcaoSelecionada === opcao"
                [class.opcao-correta]="respostaCorretaStatus === 'correta' && opcaoSelecionada === opcao"
                [class.opcao-incorreta]="respostaCorretaStatus === 'incorreta' && opcaoSelecionada === opcao">
                {{ opcao }}
            </div>
        </li>
    </ul>
</div>