<div class="container mt-5 " id="inicio" *ngIf="mostrarInicio">
    <div class="row">
        <div class="col-md-6 offset-md-3 text-center">
            <h1 class="display-4">Quiz Programação</h1>
            <p class="lead">
                Pratique seus conhecimentos e construa habilidades em Javascript, React.js, Angular e Java.
            </p>
            <button class="btn btn-primary btn-lg" [routerLink]="['/quiz']">Iniciar Quiz</button>
        </div>
    </div>

</div>
<div #quizSection>
    <app-quiz *ngIf="!mostrarInicio"></app-quiz>
</div>